{% extends 'base.html.twig' %}

{% block title %}Nouvelle oeuvre en cours...
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Nouvelle oeuvre en cours</h1>

		{{ include('admin/encours/_form.html.twig') }}

		<a href="{{ path('admin_encours_index') }}">Retour à la liste.</a>
	</div>

{% endblock %}
