{% extends 'base.html.twig' %}

{% block title %}Les toiles !
{% endblock %}

{% block body %}

	<div id="#bloc-images" class="container">
		<h1 class="text-center mt-5 brun">La galerie</h1>

		<div id="portfolio" class="mt-5">
			{% for picture in pictures %}

				<figure class="images">
					<a href="{{ path('picture_show', {'id': picture.id}) }}"><img src=" {{ asset(['images/toiles/', picture.picture]|join) }} " class="images" alt="oeuvre"></a>
					<figcaption>
						<div class="titre-legende text-center">
							<h3>{{ picture.name | capitalize}}</h3>
							<p>{{ picture.description | capitalize}}</p>

						</div>
					</figcaption>
				</figure>

			{% else %}

				<p>Pas d'œuvres trouvées</p>

			{% endfor %}


		</div>


	</div>
	<script>
		document.getElementById('app').style.display = 'none';
	</script>
	{% if app.user %}
		<script>
			document.getElementById('inscription').style.display = 'none';
		</script>
		<script>
			document.getElementById('connexion').style.display = 'none';
		</script>
		<script>
			document.getElementById('admin').style.display = 'none';
		</script>
	{% else %}
		<script>
			document.getElementById('member').style.display = 'none';
		</script>
		<script>
			document.getElementById('inscription').style.display = 'block';
		</script>
		<script>
			document.getElementById('connexion').style.display = 'block';
		</script>
		<script>
			document.getElementById('admin').style.display = 'none';
		</script>
		<script>
			document.getElementById('deconnexion').style.display = 'none';
		</script>

	{% endif %}
	{% if is_granted('ROLE_ADMIN') %}
		<script>
			document.getElementById('admin').style.display = 'block';
		</script>
	{% endif %}

{% endblock %}
