{% extends 'base.html.twig' %}

{% block title %}La galerie
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Voici en détail
			{{ picture.name }}</h1>


		<h2>Description :
			{{ picture.description }}</h2>
		<img src=" {{ asset(['images/toiles/', picture.picture]|join) }} " class="imagesAgrandies" alt="oeuvre">
		<br>
		<a href="{{ path('picture_index') }}">Retour à la galerie.</a>


	</div>
	{% if app.user %}
		<script>
			document.getElementById('inscription').style.display = 'none';
		</script>
		<script>
			document.getElementById('connexion').style.display = 'none';
		</script>
		<script>
			document.getElementById('admin').style.display = 'none';
		</script>
	{% else %}
		<script>
			document.getElementById('inscription').style.display = 'block';
		</script>
		<script>
			document.getElementById('connexion').style.display = 'block';
		</script>
		<script>
			document.getElementById('admin').style.display = 'none';
		</script>
		<script>
			document.getElementById('deconnexion').style.display = 'none';
		</script>
		<script>
			document.getElementById('member').style.display = 'none';
		</script>
	{% endif %}
{% endblock %}
