{% extends 'base.html.twig' %}
{% form_theme formView 'bootstrap_4_layout.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="container site-content">
		<h1 class="text-center mt-5 brun">Connexion</h1>

		{% if error %}
			<div class="alert alert-danger">
				{{ error.message }}
			</div>
		{% endif %}

		{{ form_start(formView)}}
		{{ form_widget(formView)}}

		<button type="submit" class="btn btn-success">connexion</button>
		{{ form_end(formView)}}
	</div>
	<script>
		document.getElementById('inscription').style.display = 'none';
	</script>
	<script>
		document.getElementById('connexion').style.display = 'none';
	</script>
	<script>
		document.getElementById('deconnexion').style.display = 'none';
	</script>
	<script>
		document.getElementById('admin').style.display = 'none';
	</script>
	<script>
		document.getElementById('member').style.display = 'none';
	</script>
{% endblock %}
