<footer id="footer" class="foot mb-0 mt-5">
	<div class=" container">
		<div class="col">
			<a href="#" class="text-center cadre1">
				<i class="fab fa-instagram fa-2x"></i>
			</a>
		</div>
		<div class="col mt-2">
			<a href="#" class="text-center cadre2">
				<i class="fab fa-twitter fa-2x"></i>
			</a>
		</div>

	</div>
</footer>
