{% extends "base.html.twig" %}
{% block title %}
	Espace administration
{% endblock %}
{% block body %}
	<div class="container">
		<h1 class="brun mt-3">Salut
			{{app.user.firstName | capitalize}}</h1>
		<ul class="navbar-nav">
			<li lass="nav-item">
				<a class="nav-link brun" id="adminImage" href="{{ path('admin_picture_index') }}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-camera-retro"></i>
					Les toiles</a>
			</li>
			<li lass="nav-item">
				<a class="nav-link brun" id="commande" href="{{ path('admin_purchase_index') }}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-money-bill-wave"></i>
					Les commandes</a>
			</li>
		</ul>
	</div>
	<script>
		document.getElementById('inscription').style.display = 'none';
	</script>
	<script>
		document.getElementById('connexion').style.display = 'none';
	</script>
	<script>
		document.getElementById('admin').style.display = 'none';
	</script>
	<script>
		document.getElementById('member').style.display = 'block';
	</script>
	<script>
		document.getElementById('deconnexion').style.display = 'block';
	</script>

{% endblock %}
