{% extends 'base.html.twig' %}

{% block title %}Commande
{% endblock %}

{% block body %}
	<h1>Votre commande</h1>

	<table class="table">
		<tbody>

			<tr>
				<th>Votre commande</th>
				<td>{{ purchase.fullName }}</td>
			</tr>

		</tbody>
	</table>

	<a href="{{ path('purchase_edit', {'id': purchase.id}) }}">Modifier votre commande.</a>

	{{ include('purchase/_delete_form.html.twig') }}
{% endblock %}
